body{
  background-color: black;
  font-family: Arial, sans-serif;
}

table{
  border: 2px solid white;
  margin: auto;
}

header{
  height: 80px;
  color: white;
  text-align: center;
  background-color: #FF4742;
  padding-top: 10px;
  width:100%;
}

nav {
  width:100%;
  text-align: center;
  color: white;
  background-color: #414770;
  height: 35px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding-top: 15px;
}

nav a:visited, nav a:link{
    text-decoration: none;
}

main a, main a:link{
  color: white;
  text-decoration: underline;
}

nav a{
  color:white;
  margin:4px;
}

.middlelink{
  border-right: 2px solid white;
  border-left:2px solid white;
  padding-right: 7px;
  padding-left: 7px;
}
.side-nav{
  float:left;
  width: 15.5%;
  text-align: center;
  border-right: 5px solid black;
  background-color: #414770;
  height:400px;
  padding-top:2%;
  padding-bottom:2%;
  overflow: auto;
}
.side-nav a:link{
    text-decoration: none;
}
.side-nav a{
  color: white;
  line-height: 50px;
  font-size: 1.1em;
}
.side-nav a:hover{
  color: white;
  font-size: 1.2em;
  font-weight: bolder;
}
main{
  background-color: #5B85AA;
  color: white;
  padding:2%;
  float:left;
  width: 80%;
  margin:0px;
  height:400px;
  overflow: auto;
}
footer{
  height: 100px;
  background-color: #FF4742;
  margin-top: 447px;
  text-align: center;
  padding: 15px;
}

footer img{
  height: 80px;
  width: 80px;
  margin: 5px;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
